{% extends 'base.html' %}
{% load static %}

{% block content%}
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">Welcome {{ user.username }} </h3>
                  <h6 class="font-weight-normal mb-0"><span class="text-primary"></span></h6>
                </div>
                
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card tale-bg">
                <div class="card-people mt-auto">
                  <!-- <img src="images/dashboard/people.svg" alt="people"> -->
                  <img src="{% static 'Front2/images/dashboard/people.svg' %}" alt="people">
                  <div class="weather-info">
                    <div class="d-flex">
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin transparent">
              <div class="row">
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-tale">
                    <div class="card-body">
                      <p class="mb-4"></p>
                      <p class="fs-30 mb-2">2 days</p>
                      <p>remain for Programming1 assignment</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-dark-blue">
                    <div class="card-body">
                      <p class="mb-4">Exams Taken</p>
                      <p>French</p>
                      <p>Mathematics</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                  <div class="card card-light-blue">
                    <div class="card-body">
                      <p class="mb-4">Exams in Progress</p>
                      
                      <p>Electronics (4 days)</p>
                  <p>English (5 days)</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 stretch-card transparent">
                  <div class="card card-light-danger">
                    <div class="card-body">
                      <p class="mb-4">Small Details Make A Big Impression</p>
                      <p class="mb-4">Success is the sum of small efforts</p>
                      <!-- <p class="fs-30 mb-2"> </p> -->
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> 
        </div>
        
        {% endblock %}
