
{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>ESPRITSCHED</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'Front2/vendors/feather/feather.css' %}"> 
  <link rel="stylesheet" href="{% static 'Front2/vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'Front2/vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'Front2/css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'Front2/images/flacon2.png' %}" />
  <style>
    .text-primary {
        color: #ed1c24 !important; /* Remplace la couleur par défaut par rouge */
    }
    .text-primary:hover {
        color: #ed1c24; /* Couleur lorsque la souris passe dessus */
    }
</style>
</head>

<body >
  <div class="container-scroller ">
    <div class="container-fluid page-body-wrapper full-page-wrapper ">
      <div class="content-wrapper d-flex align-items-center auth px-0 bg-image " style="background-image: url('/static/Front2/images/bg.png'); background-repeat: no-repeat;background-size: cover; background-position: center;">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5  rounded shadow-lg ">
              <div class="brand-logo">
                <img src="{% static 'Front1/images/logo2.png' %}" alt="logo">
              </div>
              <h4>New here?</h4>
              <h6 class="font-weight-light">Signing up is easy. It only takes a few steps</h6>
              <form  method= "POST"  action ="" class="pt-3">
                {% csrf_token %}
                <!-- {{form.as_p}} -->
                <div class="form-group">
                  <label for="">Username</label>
                  {{form.username|add_class:"form-control"}}
                
                </div>
                <div class="form-group">
                  <label for="">E-mail</label>
                  {{form.email|add_class:"form-control"}}
                
                </div>
                
                <div class="form-group">
                  <label for="">Password</label>
                  {{form.password1|add_class:"form-control"}}
              
                </div>
                <div class="form-group">
                  <label for="">Confirm password</label>
                  {{form.password2|add_class:"form-control"}}
                </div>
                <!-- <div class="mb-4">
                  <div class="form-check">
                    <label class="form-check-label text-muted">
                      <input type="checkbox" class="form-check-input">
                      I agree to all Terms & Conditions
                    </label>
                  </div>
                </div> -->

                  {% if form.errors %}
                  <div style="text-align: center;">
                  <div class="alert alert-danger">
                    {{form.errors}}
                  </div>
                  {% endif %}

                  
                <!-- </div> -->
                <div style="text-align: center;">
                  <button type="submit" class="button">SIGN UP</button>
              </div>
                <div class="text-center mt-4 font-weight-light">
                  Already have an account? <a href="{% url 'login' %}" class="text-primary">Login</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{% static 'Front2/vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'Front2/js/off-canvas.js' %}"></script>
  <script src="{% static 'Front2/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'Front2/js/template.js' %}"></script>
  <script src="{% static 'Front2/js/settings.js' %}"></script>
  <script src="{% static 'Front2/js/todolist.js' %}"></script>
  <!-- endinject -->
</body>

</html>
